<%- include('fragments/header') %>

<main class="container py-5">
  
  <!-- Botão de Voltar -->
  <div class="text-center mb-4">
    <a href="/admin/dashboard/editPage/my-certificates" class="btn btn-outline-danger rounded-pill px-4 py-2 shadow-sm">
      <i class="bi bi-arrow-left-circle me-2"></i>Return Cetificates</a>
  </div>    

  <h1 class="text-center text-white mb-4">Editar Certificado</h1>
  
  <form action="/admin/dashboard/editPage/my-certificates/editCertificate/<%= certificate.id %>/update" method="POST">
    <!-- Campo Imagem -->
    <div class="mb-4">
      <label for="image" class="form-label text-white d-flex align-items-center">
        <i class="bi bi-card-image me-2"></i> Imagem
      </label>
      <input 
        type="text" 
        class="form-control input-bg shadow-sm bg-dark text-light" 
        id="image" 
        name="imageEDIT" 
        placeholder="URL para imagem do certificado" 
        value="<%= certificate.image %>"
        required
      >
    </div>

    <!-- Campo Título -->
    <div class="mb-4">
      <label for="title" class="form-label text-white d-flex align-items-center">
        <i class="bi bi-fonts me-2"></i> Título
      </label>
      <input 
        type="text" 
        class="form-control input-bg shadow-sm bg-dark text-light" 
        id="title" 
        name="titleEDIT" 
        value="<%=certificate.title %>"
        placeholder="Título do certificado"
        required
      >
    </div>

    <!-- Campo URL -->
    <div class="mb-4">
      <label for="url" class="form-label text-white d-flex align-items-center">
        <i class="bi bi-link-45deg me-2"></i> URL
      </label>
      <input 
        type="url" 
        class="form-control input-bg shadow-sm bg-dark text-light" 
        id="url" 
        name="urlEDIT" 
        placeholder="URL do certificado" 
        value="<%=certificate.url %>"
        required
      >
    </div>

    <!-- Botão Enviar -->
    <button type="submit" class="btn btn-primary w-100 rounded-pill shadow-sm">Editar</button>
  </form>
</main>

<%- include('fragments/footer') %>